div.customerService-container.container-fluid{
    margin-top: 88px;
    margin-bottom: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: solid rgba(245, 181, 27);
    background-color: darkslategray;
    border-radius: 2% 2%;
    width: 70%;
    height: 300px;
}