div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4.MuiGrid-justify-xs-center{
    width: 90%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 5%;
    border: 2px solid rgba(245, 181, 27);
    border-radius: 2% 2%;
    background-color: darkSlateGray;
}

img.bottomRightLogo{
    float: right;
}

img.socials{
    width: 20px;
    height: 20px;
}